
/* Font */
*{
    margin: 0;
}
.open-sans-simple {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
/* common background */
.common_back{
    background-color: rgba(255, 248, 243, 1);
    padding-top: 15px;
    
}
    
/* nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 220px;
}
/* nav bar's title style */
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
/* customize nav bars list items */
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
}
/* customize nav bars anchor and button's */
.line_li{
    display: flex;
    gap: 50px;
    align-items: center;
}
.for-button{
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: #FD6E0A;
    color: white;
    border: none;
}
/* Banner */
.hi{
    font-size: 45px;
    font-weight:600;
    
}
.name{
    font-size: 85px;
    font-weight: bold;
}
.abba-banner{
    display: flex;
    justify-content: space-between;
    margin: 0 25px 0 200px;
}
.banner-content{
    max-width: 585px;
}
.dis-cript{
    font-size: 18px;
    padding-bottom: 20px;
    color: #757575;

}
/* adding a developer img in header */

.header{
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    
    background-repeat: no-repeat;
    background-position: left center, bottom right;
    margin-left: 40px;
}
/* main sections style */
/* section's class */
.about_me{
    border-radius: 10px;
    margin: 130px 0px;
    text-align: center;
    padding: 155px 131px;

}
/* heading class */
.about_heading{
    font-size: 35px;
    font-weight: bold;
}
/* main_style */
main{
    margin: 0px auto;
    width: 1140px;
}
/* paragraphs style */
main section>p{
    padding: 30px 0px;
}
/* common para style's*/
.common_para{
    font-weight: 18px;
    color: #757575;
}
/* About items style */
.about_items{
    display: flex;
    justify-content: space-evenly;

}
.item_description{
    font-weight: bold;
    color: #474747;
    font-size: 20px;
}
.item_title{
    color: #757575;
    font-size: 20px;
}
/*  do_section style */
.do_section{
    text-align: center;
    padding: 100px 0px;
    margin-top: -100px;
}
.do{
    
}
.do_title{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 30px;
}
.do_para{
    width: 909px;
    margin: 0px 145px;
}
/* skills div style */
.skills{
    display: flex;
    padding-top: 50px;
    margin-left: 20px;
    gap: 30px;
    
}
.skill{
    text-align: left;
    padding: 30px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill_title{
    padding: 30px 0px;
    font-weight: bold;
    font-size: 20px;
}
.skill_description{
    color:#757575;
    font-size: 16px;
    width: 201px;
    height: 196px;
}
